@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$random: random(
  $limit: 40,
);
.card {
  position: relative;
  height: 314px;
  width: 505px;
  overflow: hidden;
  cursor: pointer;
  .imageBg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
  }
  .wrap {
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(60%);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    .toggle {
      position: absolute;
      left: 50%;
      top: 10px;
      padding: 4px 8px;
      transform: translateX(-50%);
      z-index: 3;
      transition: all 0.3s ease;
    }
    .content {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      padding: 40px 46px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 2;
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }
      p {
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
      }
      .iconProfile {
        position: absolute;
        right: 46px;
        top: 40px;
      }
      .skill {
        width: 90%;
        position: relative;
        span {
          display: inline-block;
          width: fit-content;
          position: relative;
          border-radius: 6px;
          padding: 4px 10px;
          margin-bottom: 20px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }
  &:hover {
    .wrap {
      transform: translateY(10%);
    }
  }
}
